<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
 <configSections>
 </configSections>
 <connectionStrings>
  <add name="Loan.Application.My.MySettings.KBCIConnectionString"
   connectionString="Data Source=AMD;Initial Catalog=KBCI;User ID=KBCIuser"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
   <add key="ConnectionString.Prod" value="Huma80ba8lCrSW1xOjlh5pLzYOtN+w3N6hc1W4Wzh/Tpnf51tmlNa8Dx6cWwbI02C0e5BrVfykaCm8Bhct2jXf+lpBpEPeLfWduV4uaRvgkXQO0KV1TZ+uO1AqyibHj/e/kyvjBCm+OFi5jd7UWTzQ=="/>
   <add key="ConnectionString.Home" value="N5VghXHiMFkyzIoUJwW4V92Ma+akwmFZInw3rdO5WHsjB6rWcRfjxstbvM8UoVzg+G+v+8QAtEMtRx+d32sgsnspD8h07K1SqkMf1f45w/a2mBJl3CiwMEXz5TxsBxgV"/>
   <add key="ConnectionString.Test" value="l3Fi/v9PV+PgfIDBtA+lX8r5y8ePP2Uo/ClJzVJGzAVmYx3NVKH2j83aXwH7yDsZWymjbYODtxh/E3VHEVYg0praYuxkk9wjouSAe/+FwEN25/HsphDkPhIizS2VbhhgQUWrpsIfUH5e/BWi9IzfYw==" />
   <add key="ConnectionString.Prod.Restore" value="Huma80ba8lCrSW1xOjlh5pLzYOtN+w3N6hc1W4Wzh/QMG1Hoe2o1GfmL59oV1URenr6y7lag144ONmG5MHZYblsQdv0l8ZSiQPlqixLHvFdKunFBchhUtoIvcHkh0ZgqStir/lL1kJB2Rn4R8ux8iQ=="/>
   <add key="Key" value="ICTYSK4HVDQ9TJ96CRX9G9T68RQ2D3" />
   <add key="EncryptionKey" value="wkjMc3RhDMdX2Tk20rrJdg=="/>
   <add key="Font.Name.Theme" value="Tahoma"/>
   <add key="Font.Size.ComboBox" value="9"/>
   <add key="Font.Size.TextBox" value="9"/>
   <add key="Font.Size.Label" value="9"/>
   <add key="Font.Size.CheckBox" value="9"/>
   <add key="Font.Size.DataGridView" value="9"/>
   <add key="Font.Bold.Override" value="True"/>
   <add key="Folder.Backup" value="E:\SQL_DB\MSSQL10.MSSQLSERVER\MSSQL\Backup"/>
   <add key="Folder.Advice.Prod" value="F:\JFCS\PAYROLL"/>
   <add key="Folder.Advice.Test" value="D:\JFCS\folders\jfcsevilla\programs\solutions\bsp"/>
   <add key="Folder.Advice.Offcycle.Prod" value="F:\JFCS\OFFCYCLE"/>
   <add key="Folder.Advice.Offcycle.Test" value="D:\JFCS\folders\jfcsevilla\programs\solutions\bsp"/>
   <add key="File.Zip" value="E:\Programs\JFCS\Dse.Bsp.Credit.Cooperative\Loan.Application\bin\7z.exe"/>
   <add key="File.LoanRates" value="F:\JFCS\Dse.Bsp.Credit.Cooperative\Loan.Application\bin\LoanRates.xml"/>
   <add key="Payroll.WageType" value="7662"/>
</appSettings>
</configuration>